body
  :margin 0
  :padding 0
  :background-color White
  :background url(/images/bg-clouds2.jpg) repeat-x center top #FFFFFF
  @extend table
  

table
  :font-family Arial
  :font-size 10pt
  :color #333333

@mixin tr-hover
  background-color: #d6e9ff

tr
  .even
    background-color: #e6e6fa
    &:hover
      @include tr-hover

  .odd
    background-color: #bdbdbd
    &:hover
      @include tr-hover


input
  :border 1px solid #555555
  :background-color #eeeeee
  :padding 2px
  :margin 2px

select
  @extend input

textarea
  @extend input

pre
  background:
    color: #eee
  padding: 10px
  font:
    size: 11px


div
  .field
    .actions
      margin:
        bottom: 10px


td
  vertical-align: top

a
  :text-decoration underline
  :color $maincolor
  &:hover
    :text-decoration none
  img
    :border 0px


h1
  font-size: 16px
  color: #676767 

.line
  display: inline

.form_column
  width: 50%


ul.form_fields li
  list-style: none
  margin-left: -10px

ul.form_fields  li label
  display: block

ul.inline li label 
  display: inline

ul.inline input
  display: block

ul.form_params li
  list-style: none
  margin-left: -10px

li.title
  font-weight: bold

ul.info
  font-style: italic
  font-size: 10px

span.info
  font-style: italic
  font-size: 10px

.double
  .first
    float: left

  .second
    float: right
    padding-left: 10px

  .even
    background-color: #e6e6fa
    &:hover
      @include tr-hover

  .odd
    background-color: #f7f7ff
    &:hover
      @include tr-hover

.fields
  padding-left: 30px

.reset
  clear: both

a.edit
  :text-decoration underline
  :color $color_grey
  &:hover
    :color $color_dark_grey
    :text-decoration none
