#places
  a.title
    font-weight: bold

  a.title_header
    font-weight: bold
    color: #506a70

  li.child
    display: block
    margin: 3px -4px 0px -30px
    padding: 0
    overflow: hidden
  .draft
    a
      color: red

#user_nav 
  text-align: right
  font-size: 12px
  margin: 0 auto 0 auto
  margin-top: 5px
  margin-bottom: 10px
	
  a.red
    //font-weight: bold
    color: #a90606

#images_area
  img
    border: 1px solid #555555
    padding: 3px 3px 3px 3px
    &:hover
      border: 1px solid #777
  .draft
    border: 1px solid red


#hide_ele
  display: none

#wizzard
  div
    border: 1px solid #d0d3d8
    margin-top: 5px
    padding-left: 5px	
    //width: 100px
  .current
    //background-color: #dae2e8 
    a
      color: #40424b

#room_area
  .current
    color: #179b3f
  td
    font-size: 12px

#place_children
  .title
    color: $color_grey
    font-size: 13px

#article_images
  width: 580px
  height: 700px
  border: 1px solid #d0d3d8
  margin-left: 30px
  overflow: scroll

#article_home
  padding:
    top: 17px
    left: 10px
  
#room_images_id
  width: 500px
