$color_wite: #fff
$maincolor: #006699

#field-list
  li
    list-style-type: none
    .handle
      cursor: move


  div
    margin-top: 10px
    padding-left:  7px




@import elements.sass
@import main_navigation.sass
@import errors.sass
@import ids.sass



  
