.notice {
  background-color: #edffb2;
  border: 1px solid #d0ff56;
  padding: 5px;
  text-align: center;
  width: 40%;
  margin: 0 auto 0 auto; }

.error, .alert {
  background-color: #ffd53d;
  border: 1px solid #3e0c0c;
  padding: 5px;
  text-align: center;
  width: 40%;
  margin: 0 auto 0 auto; }
