#places a.title {
  font-weight: bold; }
#places li.child {
  display: block;
  margin: 3px -4px 0px -30px;
  padding: 0;
  overflow: hidden; }
#places .draft a {
  color: red; }

#images_area img {
  border: 1px solid #555555;
  padding: 3px 3px 3px 3px; }
  #images_area img:hover {
    border: 1px solid #777777; }
#images_area .draft {
  border: 1px solid red; }

#hide_ele {
  display: none; }

#wizzard div {
  border: 1px solid #777777;
  margin-top: 5px;
  padding-left: 5px; }
#wizzard .current {
  background-color: #dae2e8; }

#room_area .current {
  color: #179b3f; }
#room_area td {
  font-size: 12px; }
