#field-list li {
  list-style-type: none; }
  #field-list li .handle {
    cursor: move; }
#field-list div {
  margin-top: 10px;
  padding-left: 7px; }

.ele_notice {
  font-style: italic;
  font-size: small; }

.left {
  float: left; }

.right {
  float: right;
  width: 27%; }

.padding_5 {
  padding: 5px 5px 5px 5px; }

.right_side {
  text-align: right; }

.item {
  font-size: 12px;
  border: 1px solid #dae2e8;
  padding: 3px 3px 3px 3px;
  overflow: hidden;
  margin-bottom: 8px; }
  .item .title {
    color: gray; }

.header {
  background-color: #d6e9ff; }

.padding_left_5 {
  padding-left: 5px; }

.space {
  margin-top: 10px; }

body {
  margin: 0;
  padding: 0;
  background-color: white; }

table, body {
  font-family: Arial;
  font-size: 10pt;
  color: #333333; }

tr .even {
  background-color: #e6e6fa; }
  tr .even:hover {
    background-color: #d6e9ff; }
tr .odd {
  background-color: #bdbdbd; }
  tr .odd:hover {
    background-color: #d6e9ff; }

input, select, textarea {
  border: 1px solid #555555;
  background-color: #eeeeee;
  padding: 2px;
  margin: 2px; }

pre {
  background-color: #eeeeee;
  padding: 10px;
  font-size: 11px; }

div .field .actions {
  margin-bottom: 10px; }

td {
  vertical-align: top; }

a {
  text-decoration: underline;
  color: #006699; }
  a:hover {
    text-decoration: none; }
  a img {
    border: 0px; }

h1 {
  font-size: 16px;
  color: #676767; }

.line {
  display: inline; }

ul.form_fields li label {
  display: block; }

.form_column {
  width: 50%; }

ul.form_fields li {
  list-style: none; }

ul.form_params li {
  list-style: none; }

li.title {
  font-weight: bold; }

li.info {
  font-style: italic;
  font-size: 10px; }

.double .first {
  float: left; }
.double .second {
  float: right;
  padding-left: 10px; }
.double .even {
  background-color: #e6e6fa; }
  .double .even:hover {
    background-color: #d6e9ff; }
.double .odd {
  background-color: #f7f7ff; }
  .double .odd:hover {
    background-color: #d6e9ff; }

.reset {
  clear: both; }

a.edit {
  text-decoration: underline;
  color: gray; }
  a.edit:hover {
    color: #363636;
    text-decoration: none; }

#navigation_tab {
  border-bottom: 1px solid;
  margin: 0 -10px;
  padding: 0 10px;
  width: 800px; }
  #navigation_tab ul {
    list-style: none;
    display: block;
    margin: 0 0 -1px;
    padding: 0;
    overflow: hidden; }
  #navigation_tab li {
    float: left;
    display: inline;
    font-weight: bold;
    margin: 0 5px -1px 0;
    background-color: #006699;
    border: 1px solid #555555; }
    #navigation_tab li:hover {
      background-color: white;
      border-bottom-color: white;
      border: 1px solid #555555; }
    #navigation_tab li a {
      color: #000222;
      padding: 0.3em 0.4em;
      text-decoration: none;
      display: block;
      color: white; }
      #navigation_tab li a:hover {
        color: black; }
  #navigation_tab .current a {
    color: black;
    background-color: white;
    border-bottom-color: white; }
    #navigation_tab .current a:hover {
      color: black;
      background-color: white;
      border-bottom-color: white; }

.notice {
  background-color: #edffb2;
  border: 1px solid #d0ff56;
  padding: 5px;
  text-align: center;
  width: 40%;
  margin: 0 auto 0 auto; }

.error, .alert {
  background-color: #ffd53d;
  border: 1px solid #3e0c0c;
  padding: 5px;
  text-align: center;
  width: 40%;
  margin: 0 auto 0 auto; }

#places a.title {
  font-weight: bold; }
#places li.child {
  display: block;
  margin: 3px -4px 0px -30px;
  padding: 0;
  overflow: hidden; }
#places .draft a {
  color: red; }

#images_area img {
  border: 1px solid #555555;
  padding: 3px 3px 3px 3px; }
  #images_area img:hover {
    border: 1px solid #777777; }
#images_area .draft {
  border: 1px solid red; }

#hide_ele {
  display: none; }

#wizzard div {
  border: 1px solid #777777;
  margin-top: 5px;
  padding-left: 5px; }
#wizzard .current {
  background-color: #e6e6fa; }

#room_area .current {
  color: #179b3f; }
#room_area td {
  font-size: 12px; }

.text1 {
  font-size: 14px;
  font-weight: bold; }
