- if editable?
  .left
    = check_box_tag("images[]", image.id) if editable?
    = link_to image_tag(image.image.url(:small), :class=>draft?(image), :title=>image.draft? ? t('draft') : nil), image.image.url(:large), :rel=>"img_group"

-else
  = link_to image_tag(image.image.url(:small), :class=>draft?(image), :title=>image.draft? ? t('draft') : nil), image.image.url(:large), :rel=>"img_group"
