%h1 О проекте
%p Наша компания начала свою работу с 2010 года. Благодаря энергичному молодому коллективу наших сотрудников, обладающих опытом и не боящихся применять новые технологии, мы надеемся занять лидирующую позицию на рынке отдыха.
  
%p
  Мы предлагаем максимум комфорта для наших клиентов.
  %br
  \- Предоставление максимальной информации о месте размещения и самой привлекательной цены. Это возможно благодаря тесному сотрудничеству с гостиницами и другими местами.
  %br
  \- Создавая стабильную и надежную компанию, мы в первую очередь делаем это для вас, чтобы вы чувствовали себя максимально комфортно и уверенно, где бы вы не отправились отдыхать с нашей компанией.
  %br
  \- Самый важный объект нашего внимания это вы. Мы стремимся к тому чтобы вы выбирали нас снова и снова.
  %br
  \- Мы предлагаем сотрудничество для новых объектов гостиничного бизнеса на выгодных условиях
  %br
  \- Мы работаем как с организациями так и с частными туристами.
  
%p
  \Мы предоставляем комплекс туристических услуг на самом высоком уровне, постоянно расширяем спектр предложений для наших клиентов. Мы также сотрудничаем с различными операторами тур бизнеса. Все это позволяет нам гарантировать высокий уровень сервиса для туристов, где бы они не отдыхали выбрав нашу компанию. Наша компания предлагает широчайший выбор мест для бронирования номеров для проживания, отдыха, размещения командировочных лиц, проведения тренингов и семинаров на территории Юга России.
%p  
  \Мы построили сайт таким образом, чтобы ни чего не препятствовало доступу к информации, как с компьютера, так и с мобильных устройств. Выбор места отдыха максимально информативен, вы всегда можете выбрать номер по своему вкусу и бюджету. Так же мы позаботились о том, чтобы вы всегда видели состояние вашего заказа у себя в профиле и могли связаться с нами в любое время суток.
  
%p
  \Самое приятное, что на каждый заказ мы предоставляем скидки для наших клиентов потому, что мы заинтересованы в сотрудничестве с вами и хотим видеть каждого заказчика в числе постоянных клиентов.   
%p  
  \Желаем вам успехов!
  %br
  \Команда CoastSun.Ru.
