%h1 Наши реквизиты

ИП Дмитриев А.В.
%br
ИНН 616110001956
%br
Банк: ОАО АКБ "Стелла-Банк" г. Ростов-на-Дону
%br
Р/с 40802978700001000712
%br
БИК 046015938
%br
К/с 30101810400000000938 
%br

%br

ИП Босов К.В. 
%br
ИНН 616113786212
%br
Расч. счет 40802810300000000747
%br
Корр. счет 30101810400000000938 в ГРКЦ Банка России ро Ростовской области
%br
БИК 046015938
%br
ИНН/КПП 6166016158/616501001
%br
ОГРН 1026100001938

%br
%br
Телефоны для связи: 
%br
+7903-433-95-88 - Александр
%br
+7928-226-27-83 - Константин

%br
%br
Email:
= mail_to "coastsun.ru@gmail.com"
