- content_for :page_title do
  Если вы владелец гостиницы, то... -

%h1 Если вы владелец гостиницы, то...
%b
  Почему выгодно размещать информацию о гостинице в Интернете?

%p
  Раньше перед тем, как отправиться в отпуск на юг, люди начинали поиски среди друзей и знакомых заветных телефонов владельцев частного жилья или приличных гостиниц. Оставалась еще возможность приехать и определиться на месте, воспользовавшись услугами вездесущих посредников, предлагающих жилье уже на вокзале. Но такой «сервис» мало удовлетворял туриста – гарантии того, что отдых не будет испорчен неподходящим жильем, не было никакой.
%p
  С появлением Интернета подход к выбору гостиницы стал принципиально иным. Ушли в прошлое передачи заветных телефончиков, надежды «авось повезет». Самостоятельные путешественники предпочитают с самого начала контролировать свой отпуск и начинают поиски подходящей гостиницы задолго до поездки. Собирается вся информация в Интернете о предполагаемом месте отдыха – можно ли сюда ехать с детьми или шумной компанией, есть ли развлекательные центры, какие есть достопримечательности и что за сервис ожидает на курорте. 
%p
  Главное, что ищет турист в Интернете, – какие в этой местности есть гостиницы, какой в них уровень цен и что входит в набор услуг, предоставляемых хозяевами отелей, мини-гостиниц, гостевых домов. И если сегодня гостиница никак не заявлена на сайтах, помогающих забронировать жилье заранее из любого города нашей страны, ее не существует для отдыхающих. Поэтому надо идти в ногу со временем и размещать информацию о своей гостинице на просторах Всемирной сети как можно больше и чаще!

%b
  Почему выгодно размещать информацию о гостинице на нашем сайте?

%p
  Сайтов много – почему же для владельца гостиницы принципиально разместить информацию о себе здесь? Ответ прост: потому что это выгодно! Наши плюсы:
  %ul
    %li мы собрали полную информацию о курортах, достопримечательностях, пляжах, уровне сервиса на них, помогая туристам получить всю необходимую информацию;
    %li вместе с информацией о курорте мы одновременно предлагаем информацию о имеющихся на нем гостиницах и иных местах для проживания;
    %li на сайте можно легко и быстро забронировать гостиницу онлайн;
    %li для гостиниц, размещающих информацию о себе, мы предлагаем выгодные условия сотрудничества.
%b
  Что надо сделать, чтобы разместить информацию о своей гостинице?

%p
  Все очень просто! Первый шаг уже сделан – вы зашли на сайт! Остается зарегистрироваться на нем. Для этого надо нажать на кнопку «регистрация» и всего лишь указать свою электронную почту и пароль. После этого вы заполняете небольшую форму, в которой указывается минимальная информация. 
%p
  После регистрации у вас появляется личная страничка, куда вы можете заходить в любое время под вашим логином и паролем и вносить информацию о гостинице, изменять имеющиеся сведения и так далее. Шаги следующие: заходите на сайт по ссылке
  = link_to new_hotel_url
  – появляется страница «Добавить гостиницу в каталог».
%p
  Она содержит перечень всех услуг, которые может предложить гостиница, место для описания самой гостиницы, ее местоположения, адрес, способы связи (телефон, электронная почта, факс), важную информацию (сколько времени идти до моря, что находится в округе и так далее). Вам остается просто внести основную информацию об отеле и далее идти по странице и ставить галочки напротив графы услуги, которая предоставляется в гостинице. Нажать «Далее» и перейти на страницу, где можно загрузить фотографии с изображением гостиницы, номеров в ней, двора (если это является вашим плюсом!). Опять нажимаем «Далее» и переходим на страницу, где можно отметить на карте местоположение гостиницы.
%p
  На вашей странице справа появляется информация о том, какие данные вы уже разместили о гостинице. После того как вы отметите местонахождение гостиницы на карте, нажимайте на кнопку «Номера» и вносите данные о номерах гостиницы. Нажимайте на кнопку «Создать». Для того чтобы гостиница была успешно добавлена на сайт, нужно нажать на кнопку «Подтвердить размещение». После этого вы переходите на страницу договора, заполняете его. Все сделано – после подтверждения модераторы сайта размещают всю предоставленную информацию о гостинице на нашем сайте. На то, чтобы зарегистрироваться, занести информацию и добавить гостиницу на сайт, у вас уйдет не более 10 минут.

%b
  Теперь информация о вашем отеле станет доступна сотням тысяч людей безо всяких усилий и затрат!
