%br
%table
  - @room.images.in_groups_of(5, false) do |rows|
    %tr
      - rows.each do |img|
        %td{:align=>"center"}
          .item
            = image_tag img.image.url(:thumb)
            %br
            = link_to t("destroy"), delete_image_hotel_room_path(@hotel.id, @room.id, :image=>img.id), :method=>:delete, :remote=>true
